#video-top {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-50%);
  }
  
  #video-bottom {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateX(-50%);
  }